.banner{
	background-image: url(../../picture/background.jpg);
	color: #7D7D7D;
	padding: 50px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 50px;
	font-weight: bold;
}

.banner h2{
	font-size: 30px;
	font-weight: ligher;
	opacity: 0.8;
	margin:40px 0px ;
}
